.main{
    height: 700px;
    width: 1400px;
    background-image: linear-gradient(0deg, rgb(188, 221, 213), rgb(210, 210, 180));  
}
.r1{
    height: 200px;
    width: 100%;

}
.r2{
    height:450px ;
    width: 100%;
    display: flex;
    
}
.r2c1{
    flex:50%;
  padding-right: 8px;
  margin-right: 8px;
}
.r2c2{
    flex: 50%;

    }
.r3{
    height: 30px;
    width: 100%;
    background-color: rgba(20, 98, 208, 0.153);
    text-align: center;
}

