r1{
    height: 300px;
    width: 1400px;
    background-color: rgb(186, 209, 203);
    

}
.r1c1{
    text-align: center;
    background-color: #bedfcb;
    
}
.r1c2{
    text-align: center;
    background-color: #8a839a;
    
}
.r1c3{
    text-align: center;
    background-color: #a2869b;
    
}